div#sang_chieu_toi span{
    margin-right: 70px;
}
div#sang_chieu_toi span.selected{
    background: cornflowerblue;
    font-family: monospace;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 2px;
}
input#input_range_sang_chieu_toi{
    width: 237px;
    margin-left: 13px;
    margin-top: 5px;
}
div#control_panel{
    margin-top: 20px;
    padding: 0px 10px;
    border-right: 1px solid gray;
}
div#control_panel button {
    float: right;
    margin-right: 2px;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: bisque;
    color: brown;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 1px 2.5px rosybrown;
    outline: none;
}
div#control_panel button:active{
    box-shadow: 0 0.5px darkgray;
    transform: translateY(2px);
}
div#title_top{
    text-align: center;
    padding: 2px 0px;
    background-color: bisque;
    color: cadetblue;
    font-weight: bolder;
    margin-bottom: 10px;
}
div#title_top select{
    height: 30px;
    width: 65px;
    border-radius: 8px;
    border-color: white;
    outline: none;
}
div.Top_tb{
    padding: 0px 10px;
}
div#cat_select{
    float: left;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid lightslategrey;
    margin-left: 3px;
    width: 560px;
}
input#ten_mon{
    text-align: right;
    color: darkgray;
    padding: 3px 10px;
}

div#tb_result{
    float: left;
    width: 50%;
}
div.button_cat{
    
    width: 375px;
}
div.button_cat.cat_1 button:nth-child(1){
    background-color: darkcyan;
} 
div.button_cat.cat_4 button{
    background-color: deeppink;
}
div.button_cat.cat_3 button{
    background-color: lightsalmon;
}
div.button_cat.cat_2 button{
    background-color: darkslategray;
} 
div#cat_selected div:nth-child(1){
    color: darkcyan;
    
}
div.button_cat.cat_1 button:nth-child(2){
    background-color: brown;
}
div#cat_selected div:nth-child(2){
    color: brown;
    
} 
div#cat_selected div.group_1 {
    color: darkslategray;
}
div#cat_selected div.group_2 {
    color: lightsalmon;
}
div#cat_selected div.group_3 {
    color: deeppink;
}
div.button_cat.cat_1 button:nth-child(3){
    background-color: seagreen;
}
div#cat_selected div:nth-child(3){
    color: seagreen;
    
} 
div.button_cat button {
    display: inline-block;
    
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 5px 5px #999;
    outline: none;
  }
  div.cat_1 button{
    border-radius: 10px;
  }
  div.button_cat button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
  div.button_cat button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  div.button_cat button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  div.button_cat button:hover span {
    padding-right: 25px;
  }
  
  div.button_cat button:hover span:after {
    opacity: 1;
    right: 0;
  }
div#cat_selected{
    
    border-left: 1px solid black;
    width: 182px;
    height: 200px;
    padding-top: 5px;
}
div#cat_selected div{
    display: none;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    padding: 2px 0px;
    background-color: wheat;
}
div#cat_selected div.show{
    display: inline-block;
}
div#Top_Sale table tr td:nth-child(1){
    color: white;
    background-color: deepskyblue;
    padding: 1px 3px;
}
div#Top_Sale table tr td:nth-child(2){
    
    font-family: monospace;
    padding: 2px 10px;
}
div#Top_Sale table tr td:nth-child(3){
    color: gray;
    
    
}
div#Top_Order{
    border-right: 1px dashed black;
}
div#Top_Order table tr td:nth-child(1){
    color: white;
    background-color: crimson;
    padding: 1px 3px;
}
div#Top_Order table tr td:nth-child(2){
    
    font-family: monospace;
    padding: 2px 10px;
}
div#Top_Order table tr td:nth-child(3){
    color: gray;
    
    
}
div#TK_top{
    font-family: sans-serif;
    margin-left: 10px;
}
div#TK_top table{
    width: 100%;
    border-collapse: collapse;
}
div#TK_top table tr:nth-of-type(odd){
    background-color: aliceblue;
}
div#TK_top table tr:nth-of-type(even){
    
    background-color: lightsteelblue;
}
div#TK_top table tr td:nth-child(1){
    display: none;
}
table#tb_result{
    margin: 10px;
    float: left;
    border-collapse: collapse;
    width: 400px
}
table#tb_result tr:nth-of-type(odd){
   background-color: white;
   border-bottom: 5px solid white;
}
table#tb_result tr:nth-of-type(even){
    background-color: darkcyan;
}
table#tb_result tr {
    height: 30px;
}
table#tb_result td{
    padding: 10px;
}
div#control_button{
    float: left;
    width: 150px;
    margin: 20px 10px;
}
div#control_button button{
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}
div#table_frame{
    
    
    margin: 5px 0px;
    
    
    padding-right: 5px;

}

table#result_search_mon tr td:first-child{
    width: 180px;
    height: 30px;
    text-align: right;
    background: steelblue;
    vertical-align: middle;
    padding-right: 8px;
}
table#result_search_mon tr td div{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
}

table#result_search_mon tr td div:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
table#result_search_mon tr td:hover div{
    padding-right: 20px;
}
table#result_search_mon tr td:hover div:after{
    right: 0;
    opacity: 1;
}

button.explanning {
    border-radius: 16px;
    
    text-align: left;
    background: none;
    
    cursor: pointer;
    height: 30px;
    width: 80px;
    padding: 0px 14px;
}
button.explanning:hover {
    color: red;
    background-color: silver;
}
div#right_part_item_select{
    float: left;
}
div#list_item_select{
    float: left;
}
div#itemMon_selected_list{
    
    border-left: 1px solid black;
    margin-top: 7px;
    height: 300px;
}
div#itemMon_selected_list div
{
    background: burlywood;
    padding: 6px;
    margin-bottom: 2px;
    width: 180px;
   
    transition: 0.5s;
}
div#itemMon_selected_list div span{
    transition: 0.5s;
    cursor: pointer;
}
div#itemMon_selected_list div span::after{
    content: '\00a0\00a0\00a0Remove';
    font-weight: bolder;
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: red
}
div#itemMon_selected_list div:hover span::after{
    opacity: 1;
    right: 0;
}
div#itemMon_selected_list div:hover span{
    padding-right: 10px;
}
div#button_control_itemID button{
    
    height: 80px;
    width: 130px;
    font-family: fantasy;
    text-decoration: underline;
    font-size: larger;
    color: black;
    background: burlywood;
    box-shadow: 7px 4px;
    cursor: pointer; 
}
div#button_control_itemID button:hover{
    background-color: white;
    color: burlywood;
}
div#button_control_itemID input {
    margin: 15px  0;

}
div#button_control_itemID span{
    margin-right: 25px;
} 
div#button_control_itemID{
    width: 180px;
    text-align: center;
}